@import "/src/app/scss/variables";

.logo {
  width: auto;
  cursor: pointer;
  position: relative;


  img {
    width: auto;
    height: 100%;
    transition: all 0.3s linear;
    margin-left: 0;
  }

  &.small {
    height: 1.5rem;
  }

  &.medium {
    height: 4rem;
  }

  &.large {
    height: 8rem;
  }

  &:hover img {
    margin-left: 0.5rem;
    transition: all 0.3s linear;
  }
}
