
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto+Slab:wght@600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

p, h1, h2, h3, h4 {
  margin-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 300;
}

// Headings
h1,h2,h3,h4 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}
