// Colors
$primary: #286FE0;
$secondary: #f9a025;
$accent: #E45E46;

// Shades
$primary77: #578FE6;
$primary33: #B7CFF4;
$primary10: #E7EFFB;
$primary5: #F5F8FE;
$secondary77: #fab95d;
$secondary33: #fcd49c;
$secondary10: #fae5c7;
$secondary5: #fff6e8;

// Texts
$textDark: #222;
$textMedium: #666;
$textLight: #fff;


// Background Shades

