<app-hp-subheader />

<div class="section recentSection">
  <app-hp-recent-articles />
</div>

<div class="container">
  <div class="grid">

    <div class="col-12 md:col-6 lg:col-8">
      <div class="contentSections">
        <h4 *ngIf="!currentUser.isLoggedIn">Latest Questions & Articles</h4>
        <h4 *ngIf="currentUser.isLoggedIn">My subscriptions</h4>
        <div class="content">
            <app-hp-subscribed-articles />
        </div>
      </div>
    </div>

    <div class="col-12 md:col-6 lg:col-4">
      <div class="contentSections">
        <h4>Popular Articles</h4>
        <div class="content">
            <app-hp-popular-articles />
        </div>
      </div>
    </div>
  </div>

</div>
